*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0 auto; 
    background-color: beige;
}
.container{
      margin: 0 auto;
     width: 350px; 
    background-color: bisque;
    padding: 30px;
}
.dataForm{
   margin-top: 50px; 
}
form{
    border: 1px solid black;
    padding: 10px;
}
input{
    box-sizing: border-box;
}
#sendData{
    margin-left: 100px;
    width: 100px;
    padding: 5px;
    background-color: blue;
    border-radius: 5px;
    border: 1px solid black;
    color: black;
}
#sendData:hover{
    box-shadow: 0 0 10px rgba(0,0,0, 0.5);
     border: 1px solid white;
     color: white;
}